# Zend Studio
.settings
.buildpath
.project
.idea
*.log
dummy.php
# wulacms
appdata/logs/*
appdata/tmp/*
appdata/misc/*
appdata/settings.php
*.bak
*.lock
.DS_Store
uploads/*
files/*
test*.php
# composer
vendor/
composer.lock
