body{
	text-rendering: optimizelegibility !important;
}
.login-info{
	 position: relative;
}

#logo img { width:150px;}
#shortcut-wrap{
    box-sizing: border-box;
    color: #FFFFFF;    
    height: auto;    
    width: 100%;    
}
#shortcut-wrap ul {    
    list-style: none outside none;
    margin: 0;
    padding: 15px 0 10px;
}
#shortcut-wrap ul li {
    display: inline-block;
    width: auto;
}
#shortcut-wrap ul li .jarvismetro-tile {
    border: none;
    border-radius: 0;
    margin: 0 3px 3px;
}
#shortcut-wrap ul li .jarvismetro-tile:hover {
    color: #FFFFFF; 
    text-decoration: none;
}
.smart-form .icon-append{
	border-left-width: 0;
}
.smart-form .icon-prepend {
	border-right-width: 0;
}
.smart-form .input .icon-prepend + input, .smart-form .textarea .icon-prepend + textarea {
    padding-left: 30px;
}
.smart-form .state-error + em{
	font-size: 12px;
}
.slider-nomargin .slider{
	margin-bottom: 0;
}
.table .label{
	font-weight: normal;
}
#fbnews{ color: #FFF; padding: 5px 10px; margin-top: 11px;}
#sparks li h5{ font-size: 12px;}
.btn-iptg {
    padding: 6px 10px !important;
}

.timeline-seperator > *:first-child,.note, .smart-form .note{
	font-size:12px;
}
span.select2-hidden-accessible{
	position:absolute;
	left:-1999px;
}
img.comment-user-avatar{
	margin:1px 10px 0 0;
	width:32px;
	height:32px;
	float:left;
}
td.danger-td{
	border-left:2px solid #a90329;
}
td.warn-td{
	border-left:2px solid #d54e21;
}
td.succ-td {
	border-left:2px solid #356e35;
}
td.proc-td{
	border-left:2px solid #568a89;
}

.state-success .select2-container .select2-choice{
	background-color:#f0fff0;
	border-color:#7dc27d;
}

.state-error .select2-container .select2-choice{
	background-color:#fff0f0 !important;
	border-color:#a90329 !important;
}

/* Base Superbox Styles */
#superbox-overlay{position:fixed;top:0;left:0;z-index:9998;width:100%;height:100%;}
#superbox-wrapper{position:fixed;z-index:9999;top:0;display:table;width:100%;height:100%;}
#superbox-container{position:relative;display:table-cell;width:100%;height:100%;margin:0;padding:0;vertical-align:middle;}
#superbox{margin:0 auto;padding:0;}
#superbox-container .loading{margin:0;text-align:center;}

/* Default Theme */
#superbox-overlay{background:#000;}
#superbox-container .loading{text-align:center;font-size:40px;color:#fff;}
#superbox{padding:10px;background:#fff;}
#superbox-innerbox{padding:10px 0;}
#superbox.image{text-align:center;}
#superbox .close,
#superbox .nextprev{overflow:hidden;margin:0;}
.smart-form .input-file .button{padding: 0 6px;}
.smart-form .input-file a.button{ right:36px; background:transparent;}
.inbox-side-bar {width:250px;}
.inbox-body .table-wrap{margin-left:250px;}
.inbox-space{width:235px;}
.inbox-nav-bar .page-title{width:246px;}
.inbox-table{border-top:none;border-left-color:transparent;border-left-color:transparent;}
.inbox-table tr td {
    border-right: none;
    border-left: none;
    line-height: 26px;
    padding: 2px!important;
}
.inbox-table .inbox-table-icon {
    padding-left: 0px!important;
}
.inbox-table.table tbody>tr>td {
    border-color: #fff!important;
}
.inbox-table .checkbox,.inbox-table .radio{margin-top:-2px;margin-bottom:0}
nav ul li.active>a:before {right:0;text-align:right}
body.menu-on-top .smart-style-4 #header{background: #71a06a}

#widget-grid>div.leftbar{
    display: none;
    width: 225px;
    position: absolute;
    top: 64px;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #ddd;
    padding: 13px 10px;
    background: #f2f4f8;
    z-index: 100;
}
#widget-grid.hasl {
    padding-left: 220px;
}
#widget-grid.hasl>div.leftbar{
    display: block;
}

#widget-grid>div.rightbar{
    display: none;
    width: 250px;
    position: absolute;
    top:64px;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-left: 1px solid #ddd;
    padding: 13px 10px;
    background: #f2f4f8;
    z-index: 100;
}

#widget-grid.hasr{
    padding-right: 245px;
}

#widget-grid.hasr>div.rightbar{
    display: block;
}

#widget-grid.hasr>span.barhr{
    display: none;
    width: 25px;
    height: 25px;
    border: 1px solid #CDCECF;
    border-right: 1px solid #f2f4f8!important;
    position: absolute;
    right: 0;
    top: 78px;
    border-radius: 50% 0 0 50%;
    padding: 3px 1px 3px 5px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    color: #868686;
    box-shadow: inset 0 0.2em 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 .2em 0 rgba(0,0,0,.05);
    background: #f2f4f8;
    text-align: center;
    z-index: 101;
}

#widget-grid.openr>span.barhr{
    right: 249px;
}

#widget-grid.hasl>span.barhl{
    display: none;
    width: 25px;
    height: 25px;
    border: 1px solid #CDCECF;
    border-left: 1px solid #f2f4f8!important;
    position: absolute;
    left: 0;
    top: 78px;
    border-radius: 0 50% 50% 0;
    padding: 3px 5px 3px 1px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    color: #868686;
    box-shadow: inset 0 0.2em 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 .2em 0 rgba(0,0,0,.05);
    background: #f2f4f8;
    text-align: center;
    z-index: 101;
}

#widget-grid.openl>span.barhl{
    left: 224px;
}

@media (max-width: 1115px) {
    #widget-grid.hasr{
        padding-right:0;;
    }
    #widget-grid.hasr>div.rightbar {
        display: none;
    }
    #widget-grid.hasr>span.barhr{
        display: block;
    }
    #widget-grid.hasl{
        padding-left: 0;
    }

    #widget-grid.hasl>div.leftbar {
        display: none;
    }
    #widget-grid.hasl>span.barhl{
        display: block;
    }

}

@media (min-width: 1115px ) and ( max-width: 1279px){
    #widget-grid.hasr{
        padding-right:0;;
    }
    #widget-grid.hasr>div.rightbar {
        display: none;
    }
    #widget-grid.hasr>span.barhr{
        display: block;
    }

    #widget-grid.hasl{
        padding-left: 0;
    }
    #widget-grid.hasl>div.leftbar {
        display: none;
    }
    #widget-grid.hasl>span.barhl{
        display: block;
    }


    body.minified #widget-grid.hasr{
        padding-right:245px;
    }

    body.minified #widget-grid.hasr>div.rightbar {
        display: block;
    }

    body.minified  #widget-grid.hasr>span.barhr{
        display: none;
    }

    body.minified #widget-grid.hasl{
        padding-left: 220px;
    }

    body.minified #widget-grid.hasl>div.leftbar {
        display: block;
    }
    body.minified  #widget-grid.hasl>span.barhl{
        display: none;
    }
}

@media (max-width: 979px) {
    .smart-style-4 #project-context>:first-child, .smart-style-4 #project-selector, .smart-style-4 .btn-header.transparent a, .smart-style-4 .header-dropdown-list>li>.dropdown-toggle, .smart-style-4 .project-context>:first-child, .smart-style-4 .project-selector {
        background: 0 0;
        border: none;
    }
}

#widget-grid.openr>div.rightbar, body.minified #widget-grid.openr>div.rightbar{
    display: block;
}

#widget-grid.openl>div.leftbar, body.minified #widget-grid.openl>div.leftbar{
    display: block;
}