body {
	overflow-y: scroll;
}

.jumbotron {
	position: relative;
	padding: 20px 0 0;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
	background: #020031; /* Old browsers */
	background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #020031),
		color-stop(100%, #6d3353)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #020031 0%, #6d3353 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #020031 0%, #6d3353 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #020031 0%, #6d3353 100%);
	/* IE10+ */
	background: linear-gradient(45deg, #020031 0%, #6d3353 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#020031',
		endColorstr='#6d3353', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px
		rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px
		rgba(0, 0, 0, .2);
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px
		rgba(0, 0, 0, .2);
}

.jumbotron h1 {
	font-size: 80px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}

.jumbotron p {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: 30px;
}

.jumbotron a {
	color: #fff;
	color: rgba(255, 255, 255, .5);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.jumbotron a:hover {
	color: #fff;
	text-shadow: 0 0 10px rgba(255, 255, 255, .25);
}

.jumbotron .container {
	position: relative;
	z-index: 2;
}

.jumbotron:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(masthead-pattern.png) repeat center center;
	opacity: .4;
}

.subhead {
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.subhead h1 {
	font-size: 60px;
}

.subhead p {
	margin-bottom: 5px;
}

.subhead .navbar {
	display: none;
}

li.active span {
	background-color: #F89406;
}

.m15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

td.status {
	background: transparent url(loading.gif) no-repeat center right;
}

.suc td.status {
	background-image: url(accept.png);
}

.err td.status {
	background-image: url(error.png);
}